<div class="container">
  <div class="d-flex flex-column align-items-center mb-3">
    <img src="./../../../assets/transparent-logo.webp" width="320">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadown card-hover" style="cursor: pointer;" routerLink="/blog">
          <img class="card-imag-top" src="./../../../assets/blog4.jpg" style="height: 300px; width: 100%; display: block;">
          <div class="card-body" style="height: 230px; text-align:justify">
            <p class="lead">Explore My Blog</p>
            Dive into my blog to discover stories of my journey as a Full Stack developer, insights into AWS, daily anecdotes, and experiences from life in Canada.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadown card-hover" style="cursor: pointer;" routerLink="/portfolio">
          <img class="card-imag-top" src="./../../../assets/portfolio3.jpg" style="height: 300px; width: 100%; display: block;">
          <div class="card-body" style="height: 230px; text-align:justify">
            <p class="lead">Embark on a Journey Through My Portfolio</p>
            Explore a curated collection showcasing my projects and creations as a Full Stack developer. From web applications to innovative solutions, witness the breadth of my skills and passion for crafting digital experiences.
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3" routerLink="/about-me">
        <div class="card mb-4 box-shadown card-hover" style="cursor: pointer;">
          <img class="card-imag-top" src="./../../../assets/about-me3.jpg" style="height: 300px; width: 100%; display: block;">
          <div class="card-body" style="height: 230px; text-align:justify">
            <p class="lead">Get to Know Me</p>
            Peel back the layers and uncover the story behind the developer. From humble beginnings to conquering coding challenges, delve into my background, motivations, and aspirations. Let's connect beyond the code.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
