<footer class="bg-primary footer">
  <div class="row justify-content-between">
    <div class="col-md-4 align-items-center text-center text-white">
      <a href="https://www.instagram.com/codingmyjourney.ca/" target="_blank" style="text-decoration: none; color: white;"><i class="bi bi-instagram mx-1"></i>&nbsp;</a>
      <a href="https://www.twitter.com/afsvieira" target="_blank" style="text-decoration: none; color: white;"><i class="bi bi-twitter mx-1"></i>&nbsp;</a>
      <a href="https://www.linkedin.com/in/afelipevieira/" target="_blank" style="text-decoration: none; color: white;"><i class="bi bi-linkedin mx-1"></i>&nbsp;</a>
    </div>
    <div class="col-md-4 align-items-center text-center text-white">
      <a href="mailto:info@codingmyjourney.com" style="text-decoration: none; color: white;">
        <i class="bi bi-envelope-at"></i> info@codingmyjourney.com
      </a>
    </div>
    <div class="col-md-4 align-items-center text-center text-white">
      © 2024 All rights reserved.
    </div>
  </div>
</footer>
